$grey-background: #eaebed;// #f2f5f5;

$black-header: #151d20;

$grey-border: #eaecec;
$red-button: #ff5466;
$white-background: #fefefe;
$grey-text: #99a9af;
$blue-title: #2b4956;
$blue-link: #5bd1b7;