.notify {
	position: absolute;
	top: -100%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transition: top .5s;
    transition: top .5s;

	padding: 15px;
	color: #FFF;
	border-radius: 5px;
	cursor: pointer;

	&.show-notify {
		top: 50px;
	}

	&:hover {
		opacity: 1;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	}

	&.success {
		background-color: rgba(#77b300, 0.8);
	}

	&.error {
		background-color: rgba(#e74c3c, 0.8);
	}

	&.info {
		background-color: rgba(#2a9fd6, 0.8);
	}
}

